---
import Layout from "../layouts/Layout.astro";
import PictureCard from "../components/PictureCard.astro";


const items = [
  {
    title: "Emma, Mina og Theodor",
    caption: "Trekløver i Åre",
    imageUrl: "../public/test_bilder/EMT.png",
    bgUrl: "../public/cards_backgrounds/bg1.svg",
    orientation: "landscape" as const,
  },
  {
    title: "Emma og Mina",
    caption: "Album cover ting",
    imageUrl: "/public/test_bilder/EM.jpg",
    bgUrl: "../public/cards_backgrounds/bg2.svg",
    orientation: "portrait" as const,
  },
  {
    title: "Emma og Mina på ski",
    caption: "Supre ski og flotte fruer",
    imageUrl: "/public/test_bilder/EM2.png",
    bgUrl: "../public/cards_backgrounds/bg3.svg",
    orientation: "landscape" as const,
  },
  {
    title: "Valentine",
    caption: "I love Paris",
    imageUrl: "/public/test_bilder/EM3.png",
    bgUrl: "../public/cards_backgrounds/bg4.svg",
  },
  {
    title: "Joel og Aksel",
    caption: "Ohhh shit",
    imageUrl: "/public/test_bilder/JA.png",
    bgUrl: "../public/cards_backgrounds/bg5.svg",
  },  
  {
    title: "Emma, Mina og yashmine",
    caption: "#cutiepatoties",
    imageUrl: "/public/test_bilder/EMY.png",
    bgUrl: "../public/cards_backgrounds/bg6.svg",
    orientation: "landscape" as const,
  },  
  {
    title: "Paris",
    caption: "To kule folk",
    imageUrl: "/public/test_bilder/EMP.png",
    bgUrl: "../public/cards_backgrounds/bg7.svg",
  },
  {
    title: "Sjakk-rave",
    caption: "sup dogggg",
    imageUrl: "/public/test_bilder/M.png",
    bgUrl: "../public/cards_backgrounds/bg8.svg",
  },
  
];

---


<Layout title = "pictureWall" navbarTextColor="#FF5733">
    <main>
        <div class = "content">
            <h1 class = "pb-16 title">Bildevegg</h1>
            <section class="grid">
                {items.map((item, idx) => (
                    <PictureCard {...item} highlighted={idx === 3} />
                ))}
            </section>
        </div>
    </main>
</Layout>

<style>
  main {
		background-color: rgb(255, 255, 255);
		width: 100%;
		color: black;
		font-size: 20px;
		line-height: 1.6;
		min-height: 300vh; 
        font-family: 'Gantari', sans-serif;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    justify-content: center;
    align-items: flex-start;
  }

  .content{
    padding-top: 11rem;
    padding-left: auto;
    padding-right: auto;
  }
  
  .title{
    color: #FE710F;
    font-size: 60px; 
    font-weight: bolder;
    text-align: center;
    line-height: 70px;
  }
</style>